
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>همه چی اوکییییی✅</title>
</head>
<body>
    <div>همه چی اوکییییی✅</div>

</body>
</html>
